body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(255, 242, 234);   
    
}

p{
    line-height: 2.0;
    font-size: 12px;
}

h2{
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(192, 125, 11);
    text-align: center;
}

h4{
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.banner{
    background-image: url(../will\ project/header.jpeg);
    height: 598px;
    width: 100%;
    background-size: cover; 
    border-top: solid black 1px; 
    
}

.banner nav ul{
    text-align: right;
    margin-right: 100px;
}

.banner nav li{
    display: inline-block;
    list-style: none;
    margin-top: 25px; 
    font-size: 10px;
}

.banner a{
    color: rgb(192, 125, 11); 
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 8px; 
}

.banner-title{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    line-height: 35px;
    height: 3px;
}

.banner-text{
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    letter-spacing: 2px;
    margin-bottom: 10px;       
}

.banner-container{
    margin-left: 100px;
    margin-top: 150px; 
}

.button{
    background: rgb(143, 13, 13);
    border: rgb(143, 13, 13) 1px solid;
    display: inline;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
    
}
.button-sections{
    background: rgb(143, 13, 13);
    border: rgb(143, 13, 13) 1px solid;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: left;
    padding: 15px 40px;
    text-transform: uppercase;   
}


.sec1{
    text-align: center;
    margin-top: 80px;
    width: auto;
}


.sec1 p{
    text-align: left;
    font-size: 12px;
}

.new-classes{
    background-color: rgb(199, 196, 196);
    display: inline-block;
    height: 400px;
    width: 31%;
    padding: 80px 60px;
    box-sizing: border-box;      
}

.new-classes-middle{
    background-color: rgb(17, 17, 17);
    height: 400px;
    width: 31%;
    display: inline-block;
    color: white;
    padding: 80px 60px;
    box-sizing: border-box;  
}

.new-classes h2{
    color: rgb(192, 125, 11); 
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    
}

.new-classes h4{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
}

.new-classes-middle h2{
    color: rgb(192, 125, 11); 
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    
}

.new-classes-middle h4{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
}


main{
    width: 100%;
    margin-top: 350px;
    
}

.ourclasses{
    margin-top: 290px;
}



.ourclasses h2{
    text-transform: uppercase;
    color: rgb(192, 125, 11);     
}

 .ourclasses h4{
     text-transform: uppercase;
 }  

 
 .ourclasses-art1 img{
     float: right;
     width: 46%;
     margin-right: 3.1%;
 }
 
 .ourclasses-art2 img{
    float: left;
    width: 46%;
    margin-left: 3.1%;}

  
 .ourclasses-art3 img{
    float: right;
    width: 46%;
    margin-right: 3.1%;}

 .ourclasses-art-clear{
     clear: both;
 }
    
 .box-ourclasses{
     text-align: center;
     background-color: rgb(250, 226, 215);
     height: 462px;
     width: 46%;
     margin-left: 3.1%;
     padding: 120px;   
     box-sizing: border-box;  
     font-size: 12px; 
 }

 .box-ourclasses2{
     text-align: center;
     margin-right: 3.1%;
     height: 462px;
     box-sizing: border-box;  
     font-size: 12px;
     background-color: rgb(250, 226, 215);  
     padding: 120px;
     padding-left: 800px;
     margin-top: 25px; 
 }
    
 .box-ourclasses3{
    text-align: center;
    background-color: rgb(250, 226, 215);
    height: 460px;
    width: 46%;
    margin-left: 3.1%;
    padding: 120px;   
    box-sizing: border-box;  
    font-size: 12px; 
    margin-top: 25px;
}

.about-us{
    background-color: rgb(34, 34, 34);
    height: 800px;
    width: 100%;
    margin-top: 25px;
}

.about-us{
    text-align: center;
    padding-top: 60px;
}

.about-us-h2{
    color: rgb(192, 125, 11); 
    font-size: 12px;

}

.about-us-h4{
    color: white;
    font-size: 25px;
}

.about-us-clear{
    clear: both;
}

.card{
    width: 25%;
    float: left;
    box-sizing: border-box;   
}

.card img{
    width: 100%;
    display: block;
}


.about-us-card1, .about-us-card2, .about-us-card3{
    margin-left: 2.5%;
    margin-top: 50px;  
     
}

.about-us-card1{
    margin-left: 10%;
}

.cardfighter-title{
    color: rgb(192, 125, 11); 
    text-transform: uppercase;
}

.cardfighter-email{
    color: rgb(255, 87, 65);
}

.cardfighter-text{
    color: white;
}

.gallery{
    height: 650px;
    width: 100%;
}

.gallery img{
    width: 20%;
    display: inline-block;
    margin-left: 1%;
    background-size: cover;
    
}

.gallery-container{
    text-align: center;
    padding-top: 80px;
}

.gallery-images-container{
    margin-left: 10%;
}
.gallery-images{
    margin-left: 3%;
    margin-bottom: 50px;
    margin-top: 65px;
}

.button-gallery{
   margin-left: 45%;
   
}

.testimonials{
    background-image: url(../will\ project/testm.jpg);
    height: 800px;
    width: 100%;
    background-position: bottom left;
    background-size: cover;
    
}

.testimonials h4{
    color: white;
}

.testimonials p{
    color: white;
    text-align: center;
    padding-top: 40px;
}

.testimonials-container{
    padding-top: 80px;
}

.testimonials img{
    padding-left: 44.5%;
    padding-top: 50px;
}

.test{
    background-color: rgb(29, 29, 29);
    height: 330px; 
    
}

.test p, .test h4{
    color: rgb(218, 218, 218);
    text-align: left;    
}

.test1,.test2, .test3 ,.test4{
    float: left;
    box-sizing: border-box;
    padding: 40px; 
    width: 25%;
    
}

.test2{
    background-image: url(test1.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 170px; 
    
}


.comments1, .comments-title{
    float: left;
    text-transform: uppercase;
 
}

.comments-title {
    margin-right: 15px ;
}


.comments, .button-text{
    float: left;
    padding-left: 50px;   
}


.comments2, .comments21{
    text-transform: uppercase;
    float: left;
}

.button-text{
    padding: 0px 25px;
}



.test3 h2{
    text-align: left;
}



.test4{
    background-image: url(test2.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    
}

.test4{
    padding-top: 170px;
    text-transform: uppercase;
}

.trainer p{
    padding-top: 0;
    color: rgb(255, 109, 109);
}

.dave{
    height: 120px;
    width: auto;
}

.pricing-container{
    padding-left: 9%;
    margin-top: 100px;
    text-align: center;
}

.pricing-title{
    margin-bottom: 70px;
    margin-right: 120px;
}

.pricing-container p{
    font-size: 10px;
    padding: 15px 8% 60px 8%;    
    
}

.price{
    font-size: 50px;
}

.expert{
    background-color: rgb(82, 0, 0);
    height: 660px;
    color: white;
}

.expert, .light, .medium{
    float: left;
    width: 30%;
    
}

.floatprice{
    clear: both;
}


.button-price p{
    background: rgb(143, 13, 13);
    border: rgb(143, 13, 13) 1px solid;
    display: inline;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
     
}
.button-price2 p{
    background: white;
    border: white 1px solid;
    display: inline;
    box-sizing: border-box;
    color:rgb(143, 13, 13);
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
     
}

.address-container{
    margin-top: 100px;    
}

.map, .map3, .map2{
    float: left;   
}




.map p .map h2 .map h4, .map3 p, .map3 h2, .map3 h4, .map2 p, .map2 h2, .map2 h4{
    text-align: left;
    
}

.floatclear{
    clear: both;
}

.map2{
    background-color: rgb(41, 41, 41);
    height: 450px;
    padding: 5%;
    box-sizing: border-box;
}

.map2 p, .map2 h4{
    color: rgb(230, 230, 230);
}

.map3{
    padding: 5% ;
}

.color-map3{
    color: rgb(190, 0, 0);
}

.design{
    background-image:url(design.jpg);
    background-position: right top ;
    background-size: cover;
    height: 240px;
}

.design-title {
    padding: 40px;

}

.design-title h2, .design-title h4, .design-title p{
    text-align: left;
}

.design-title h4{
    color: rgb(212, 212, 212);
    font-size: 15px;
}

.button-design{
    padding: 0 18px;
    float: right;
            
}

.button-design p{
    color: rgb(212, 212, 212);
}
  
.final{
    background-color: rgb(12, 12, 12) ;
    border-top: 1px rgb(12, 12 ,12) solid;
    height: 350px;
    padding: 10px;
    
}

.rec{
    float: left;
}

.recent2{
    padding-top: 30px;
}


.final h2{
    text-align: left;
}

.final p, .final h4, .final li{
    color: rgb(175, 175, 175);
    text-align: left;
}

.about-us-2, .our-classes-2, .recent, .postwith, .latest{
    float: left;
    padding-left: 4%;
     
}


.our-classes-2 ul li{
    list-style: none;
    
}


footer{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    
}

.kel{
    color: rgb(219, 0, 0);
}




     




 
 





